{% load bootstrap5 %}
<!doctype html>
<html lang="en">
    <head>
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            {% bootstrap_messages %}
            <div class="row">
                <a href="{% url 'create_journey' %}">Create Journey</a>
                <a href="{% url 'vehicle_stats' %}">Vehicle Stats</a>
                <a href="{% url 'passenger_stats' %}">Passenger Stats</a>
            </div>
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>

    </body>


</html>